In [2]:
# Version 1
import pandas as pd
list_1 = ['Metin','Muhammed','Isa','Musa','Orhan','Osman','Ali','Omer']
data_1 = pd.Series(list_1)
data_1

0       Metin
1    Muhammed
2         Isa
3        Musa
4       Orhan
5       Osman
6         Ali
7        Omer
dtype: object

In [3]:
# Version 2
import pandas as pd
data_2 = pd.Series(['Metin','Muhammed','Isa','Musa','Orhan','Osman','Ali','Omer'])
data_2

0       Metin
1    Muhammed
2         Isa
3        Musa
4       Orhan
5       Osman
6         Ali
7        Omer
dtype: object

In [4]:
# Version 4
import pandas as pd
data_3 = pd.Series(data=['Metin','Muhammed','Isa','Musa','Orhan','Osman','Ali','Omer'])
data_3

0       Metin
1    Muhammed
2         Isa
3        Musa
4       Orhan
5       Osman
6         Ali
7        Omer
dtype: object

In [5]:
import pandas as pd
data_4 = pd.Series(data=['Metin','Muhammed','Isa','Musa','Orhan','Osman','Ali','Omer'],
                   index=['Name 1','Name 2','Name 3','Name 4','Name 5','Name 6','Name 7','Name 8'])
data_4

Name 1       Metin
Name 2    Muhammed
Name 3         Isa
Name 4        Musa
Name 5       Orhan
Name 6       Osman
Name 7         Ali
Name 8        Omer
dtype: object

In [6]:
# Version 5
import pandas as pd
data_list = ['Metin','Muhammed','Isa','Musa','Orhan','Osman','Ali','Omer']
index_list = ['Ad 1','Ad 2','Ad 3','Ad 4','Ad 5','Ad 6','Ad 7','Ad 8']
data_5 = pd.Series(data=data_list,index=index_list)
data_5

Ad 1       Metin
Ad 2    Muhammed
Ad 3         Isa
Ad 4        Musa
Ad 5       Orhan
Ad 6       Osman
Ad 7         Ali
Ad 8        Omer
dtype: object

In [7]:
import pandas as pd
genes_list = ['TP53','TNF','EGFR','VEGFA','APOE','IL6','TGFB1','MTHFR','ESR1','AKT1']
top_10_genes = pd.Series(genes_list,
                         index=['Gen 1','Gen 2','Gen 3','Gen 4','Gen 5','Gen 6','Gen 7','Gen 8','Gen 9','Gen 10'])
top_10_genes

Gen 1      TP53
Gen 2       TNF
Gen 3      EGFR
Gen 4     VEGFA
Gen 5      APOE
Gen 6       IL6
Gen 7     TGFB1
Gen 8     MTHFR
Gen 9      ESR1
Gen 10     AKT1
dtype: object

In [14]:
import pandas as pd
import numpy as np
np_list = np.array(['100','200','300','400','500','600','700','800','900','1000'])
data_number = pd.Series(data = np_list,
                        index=['num 1','num 2','num 3','num 4','num 5','num 6','num 7','num 8','num 9','num 10'])
data_number

num 1      100
num 2      200
num 3      300
num 4      400
num 5      500
num 6      600
num 7      700
num 8      800
num 9      900
num 10    1000
dtype: object

In [9]:
# Create pandas series using dictionary
import pandas as pd

data_distionary = {
    'U-1' : 'Asoiu',
    'U-2' : 'UNEC',
    'U-3' : 'BDU',
    'U-4' : 'AzTU',
    'U-5' : 'Khazar',
    'U-6' : 'BANM',
    'U-7' : 'ADA',
    'U-8' : 'BMU',
    'U-9' : 'AzMIU',
    'U-10' : 'ADU'
}
data_6 = pd.Series(data_distionary)
data_6

U-1      Asoiu
U-2       UNEC
U-3        BDU
U-4       AzTU
U-5     Khazar
U-6       BANM
U-7        ADA
U-8        BMU
U-9      AzMIU
U-10       ADU
dtype: object

In [10]:
import pandas as pd
data_7 = pd.Series(data=['Metin','Gardashov','11/11/2003','20','ASOIU'],
                   index=['Name','Surname','Date','Age','University'])
data_7

Name               Metin
Surname        Gardashov
Date          11/11/2003
Age                   20
University         ASOIU
dtype: object

In [13]:
import pandas as pd
data_countries = {
    'country-1' : 'Turkey',
    'country-2' : 'Azerbaijan',
    'country-3' : 'UAE',
    'country-4' : 'Saudi Arabia',
    'country-5' : 'Iraq',
    'country-6' : 'Syria',
    'country-7' : 'Yemen',
    'country-8' : 'Egypt',
    'country-9' : 'Indonesia',
    'country-10' : 'Katar',
}
pandas_countries = pd.Series(data_countries)
pandas_countries

country-1           Turkey
country-2       Azerbaijan
country-3              UAE
country-4     Saudi Arabia
country-5             Iraq
country-6            Syria
country-7            Yemen
country-8            Egypt
country-9        Indonesia
country-10           Katar
dtype: object

In [23]:
import pandas as pd
data_pd = pd.Series(data=['Turkey','Azerbaijan','UAE','Saudi Arabia','Iraq','Syria','Yemen','Egypt','Indonesia','Katar'],
                    index=['1.','2.','3.','4.','5.','6.','7.','8.','9.','10.'])
third_country = data_pd[2]
print('Third Country: {}'.format(third_country))
sixth_country = data_pd[5]
print('Sixth Country: {}'.format(sixth_country))
second_country = data_pd['2.']
print('Second Country: {}'.format(second_country))
ninth_country = data_pd['9.']
print('Ninth Country: {}'.format(ninth_country))

Third Country: UAE
Sixth Country: Syria
Second Country: Azerbaijan
Ninth Country: Indonesia

In [27]:
import pandas as pd
name_series = pd.Series(data=['Osman','Orhan','Ali','Musa','Isa','Turgut','Ertugrul','Melikshah'],
                        index=['Name 1','Name 2','Name 3','Name 4','Name 5','Name 6','Name 7','Name 8'])
slicing_number_index = name_series[1:6]
slicing_number_index

Name 2     Orhan
Name 3       Ali
Name 4      Musa
Name 5       Isa
Name 6    Turgut
dtype: object

In [28]:
import pandas as pd
name_series = pd.Series(data=['Osman','Orhan','Ali','Musa','Isa','Turgut','Ertugrul','Melikshah'],
                        index=['Name 1','Name 2','Name 3','Name 4','Name 5','Name 6','Name 7','Name 8'])

slicing_index_name = name_series['Name 1':'Name 7']
slicing_index_name

Name 1       Osman
Name 2       Orhan
Name 3         Ali
Name 4        Musa
Name 5         Isa
Name 6      Turgut
Name 7    Ertugrul
dtype: object

In [34]:
import pandas as pd
name_list = ['Osman','Orhan','Ali','Musa','Isa','Turgut','Ertugrul','Melikshah']
name_pd_series = pd.Series(name_list)
name_pd_series[-1:-6:-1]

7    Melikshah
6     Ertugrul
5       Turgut
4          Isa
3         Musa
dtype: object

In [39]:
import pandas as pd
top_10_genes_series = pd.Series(data= ['TP53','TNF','EGFR','VEGFA','APOE','IL6','TGFB1','MTHFR','ESR1','AKT1'], 
            index=['1. gen','2. gen','3. gen','4. gen','5. gen','6. gen','7. gen','8. gen','9. gen','10. gen'])
first_3_elements = top_10_genes_series[0:3]
first_3_elements
# OR
first_3_elements_or = top_10_genes_series['1. gen' : '3. gen']
first_3_elements_or

1. gen    TP53
2. gen     TNF
3. gen    EGFR
dtype: object

In [45]:
import pandas as pd
top_10_genes_series = pd.Series(data= ['TP53','TNF','EGFR','VEGFA','APOE','IL6','TGFB1','MTHFR','ESR1','AKT1'], 
            index=['1. gen','2. gen','3. gen','4. gen','5. gen','6. gen','7. gen','8. gen','9. gen','10. gen'])
last_3_elements = top_10_genes_series[-1:-4:-1]
last_3_elements

10. gen     AKT1
9. gen      ESR1
8. gen     MTHFR
dtype: object

In [56]:
import pandas as pd
pandas_series = pd.Series(data=['gen_1', 'gen_2', 'gen_3', 'gen_4','gen_5','gen_6','gen_7','gen_8','gen_9','gen_10'],
        index=['index_1', 'index_2','index_3','index_4','index_5','index_6','index_7','index_8','index_9','index_10'])

some_series_using_index_numbers = pandas_series[[1,5,9]]
some_series_using_index_numbers

index_2      gen_2
index_6      gen_6
index_10    gen_10
dtype: object

In [57]:
import pandas as pd
pandas_series = pd.Series(data=['gen_1', 'gen_2', 'gen_3', 'gen_4','gen_5','gen_6','gen_7','gen_8','gen_9','gen_10'],
        index=['index_1', 'index_2','index_3','index_4','index_5','index_6','index_7','index_8','index_9','index_10'])

some_series_using_index_name = pandas_series[['index_1','index_4','index_7']]
some_series_using_index_name

index_1    gen_1
index_4    gen_4
index_7    gen_7
dtype: object

In [59]:
import pandas as pd
name_series = pd.Series(data=['Metin','Muhammed','Ismayil','Isa','Musa','Adem','Alparslan','Ertugrul','Tugrul','Ali','Omer','Osman'],
        index=['index_1','index_2','index_3','index_4','index_5','index_6','index_7','index_8','index_9','index_10','index_11','index_12'])

name_series[8] = 'Vaqif'
name_series['index_10'] = 'Yahya'
name_series

index_1         Metin
index_2      Muhammed
index_3       Ismayil
index_4           Isa
index_5          Musa
index_6          Adem
index_7     Alparslan
index_8      Ertugrul
index_9         Vaqif
index_10        Yahya
index_11         Omer
index_12        Osman
dtype: object

In [61]:
import pandas as pd
name_series = pd.Series(data=['Metin','Muhammed','Ismayil','Isa','Musa','Adem','Alparslan','Ertugrul','Tugrul','Ali','Omer','Osman'],
        index=['index_1','index_2','index_3','index_4','index_5','index_6','index_7','index_8','index_9','index_10','index_11','index_12'])

name_series[0:3] = 'Not name'
name_series['index_8':'index_11'] = 'Same name'
name_series

index_1      Not name
index_2      Not name
index_3      Not name
index_4           Isa
index_5          Musa
index_6          Adem
index_7     Alparslan
index_8     Same name
index_9     Same name
index_10    Same name
index_11    Same name
index_12        Osman
dtype: object

In [69]:
# .drop() functions
import pandas as pd
name_series = pd.Series(data=['Metin','Muhammed','Ismayil','Isa','Musa','Adem','Alparslan','Ertugrul','Tugrul','Ali','Omer','Osman'],
        index=['index_1','index_2','index_3','index_4','index_5','index_6','index_7','index_8','index_9','index_10','index_11','index_12'])

new_name_series = name_series.drop('index_3')
new_name_series

index_1         Metin
index_2      Muhammed
index_4           Isa
index_5          Musa
index_6          Adem
index_7     Alparslan
index_8      Ertugrul
index_9        Tugrul
index_10          Ali
index_11         Omer
index_12        Osman
dtype: object

In [71]:
# .drop([])
import pandas as pd
name_series = pd.Series(data=['Metin','Muhammed','Ismayil','Isa','Musa','Adem','Alparslan','Ertugrul','Tugrul','Ali','Omer','Osman'],
        index=['index_1','index_2','index_3','index_4','index_5','index_6','index_7','index_8','index_9','index_10','index_11','index_12'])

new_name_series_2 = name_series.drop(['index_1','index_4','index_7','index_11'])
new_name_series_2

index_2     Muhammed
index_3      Ismayil
index_5         Musa
index_6         Adem
index_8     Ertugrul
index_9       Tugrul
index_10         Ali
index_12       Osman
dtype: object

In [75]:
import pandas as pd
name_series = pd.Series(data=['Metin','Muhammed','Ismayil','Isa','Musa','Adem','Alparslan','Ertugrul','Tugrul','Ali','Omer','Osman'],
        index=['index_1','index_2','index_3','index_4','index_5','index_6','index_7','index_8','index_9','index_10','index_11','index_12'])
name_series[0:3] = 'Not name'
for index_names in name_series.index:
    if name_series[index_names] == 'Not name':
        name_series.drop(index_names,inplace=True)
name_series

index_4           Isa
index_5          Musa
index_6          Adem
index_7     Alparslan
index_8      Ertugrul
index_9        Tugrul
index_10          Ali
index_11         Omer
index_12        Osman
dtype: object

In [76]:
# Sum of the top_citation_count_of_genes
import pandas as pd
top_10_genes_series = pd.Series(data=['TP53','TNF','EGFR','VEGFA','APOE','IL6','TGFB1','MTHFR','ESR1','AKT1'] , 
        index=['1. gen','2. gen','3. gen','4. gen','5. gen','6. gen','7. gen','8. gen','9. gen','10. gen'])
top_citation_count_of_genes = pd.Series(data=[8479,5314,4583,4059,3977,3930,3715,3256,2864,2791] , 
        index=['1. gen','2. gen','3. gen','4. gen','5. gen','6. gen','7. gen','8. gen','9. gen','10. gen'])
sum_genes = 0
for i in top_citation_count_of_genes.index:
    sum_genes += top_citation_count_of_genes[i]
sum_genes

42968

In [1]:
# Delete top_citation_count_of_genes indexes less than 3000
import pandas as pd
top_10_genes_series = pd.Series(data=['TP53','TNF','EGFR','VEGFA','APOE','IL6','TGFB1','MTHFR','ESR1','AKT1'] , 
        index=['1. gen','2. gen','3. gen','4. gen','5. gen','6. gen','7. gen','8. gen','9. gen','10. gen'])
top_citation_count_of_genes = pd.Series(data=[8479,5314,4583,4059,3977,3930,3715,3256,2864,2791] , 
        index=['1. gen','2. gen','3. gen','4. gen','5. gen','6. gen','7. gen','8. gen','9. gen','10. gen'])

for i in top_citation_count_of_genes.index:
    if top_citation_count_of_genes[i] < 3000:
            top_citation_count_of_genes.drop(i,inplace=True)  
top_citation_count_of_genes

1. gen    8479
2. gen    5314
3. gen    4583
4. gen    4059
5. gen    3977
6. gen    3930
7. gen    3715
8. gen    3256
dtype: int64

In [10]:
txt = " Hello World "
x = txt.strip()
x

'Hello World'

In [11]:
print(bool('abc'))

True

In [12]:
fruits = ["apple", "banana", "cherry"]
print(
fruits[-1]
)

cherry

In [13]:
class Person:
  def __init__(self, fname):
    self.firstname = fname

  def printname(self):
    print(self.firstname)

class Student(Person):
  pass

x = Student("Mike")
x.printname()

Mike